<h1>Login Here</h1>

<div class="error"><%= @error if @error %></div>

<form class="form-horizontal" action='/login' method='POST'>
  <input type="text" name="email" placeholder="Email"><br>
  <input type="password" name="password" placeholder="Password"><br>
  <input type="submit">
</form>

