<h1> Let's add your tags</h1>


<h2>Suggestion for your themes:</h2>
<ul>
  <li>a role that represents an aspect of who you are becoming</li>
  <li>start with about three</li>
</ul>
<br>
<br>
<h2>Enter yours:</h2>
<form action="/tags" method="post">
  <input type="text" name="name" placeholder="One at a time"><br>
  <input type="submit" value="Add">
</form>
