<ul id="full-post-list">
  <% if @posts %>
    <% @posts.each do |post|  %>
      <li><a href="/posts/<%= post.id %>/edit"><%= post.title %></a> and Tag id: <%= post.tag_id %></li>

    <% end  %>
  <% end  %>
</ul>


