<div class="container">
  <h1>Welcome back!</h1>

  <h2>What's one thing to appreciate?</h2>

  <form action="/posts/new" method="POST">
    <label>Short and descriptive</label>
      <input type="text" name="title" placeholder="Short and descriptive">
      <input type="text" name="title" placeholder="Optional description">
      <input type="submit" value="Log it!">
  </form>
  
</div>