<div class="container">
  <h1>Welcome back!</h1>

  <h2>What's one thing to appreciate?</h2>
<form action="/posts" method='POST'>
  <input type="text" name=" placeholder="One thing to remember">
  <textarea rows="4" cols="50" placeholder="Notes"></textarea>
  <input type='submit' value='Add'>
</form>
</div>



</div>
