<div class="container">
  "Whazzup. New post here."
<form action='/posts' method='post'>
  <input type="text" name=" placeholder="One thing to remember">
  <textarea rows="4" cols="50" placeholder="Notes"></textarea>
  <input type='submit' value='Add'>
</form>
</div>
