  <h1>Welcome back!</h1>

  <h2>What's one thing to appreciate?</h2>

<form id="new-post" action="/posts" method='post'>
  <input id="new-post-title" type="text" name="post[title]" placeholder="One thing to celebrate"><br>
  <!-- <input type="text" name="post[tag_id]" placeholder="Tag"> -->

  <%= erb :'/tags/_tag-entry' %>


  <input id="create-post" type="submit" value='Add'>
  <div>
    <textarea id="notes-tgl-field" rows="4" cols="50" name="post[note]" placeholder="Notes (optional)"></textarea><br>
  </div>
  <input id="notes-tgl-btn" type="submit" value="Hide notes">
</form>
</div>

<br>
<div class="right">
  <a href="/posts">List 'em' all</a>
  <!-- "most recent on top" -->
  <%= erb :"/posts/_show", :layout => false, :locals => {:posts => @posts} %>
</div>
