<h1>Show lots of 'em</h1>
Themes:

<% @tags.each do |tag| %>
  <button type="submit" formaction="/posts/show/<%= tag.id %>" formmethod="get" value="<%= tag.id %>"><%= tag.name %></button>
<% end %>


<%= erb :"/posts/_show", :layout => false, :locals => {:posts => @posts} %>
