<div>
  <div class="container">
    <img class="bg" src="<%= @photo %>">
    <div class="center-home">
      <h1>Book of Becoming</h1>
      <br>
      <h3>Capture your sparks<br>
      so they can light your way</h3>

    </div>
  </div>
</div> 
