<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>

<!-- <a href ="/login">Login </a> || <a href ="/logout"> Logout </a> || <a href ="/register"> Register</a> -->




<div id="nav-bar">
  <% if current_user == nil %>
    <a id="register-button" href="/register"> Register </a> || <a id="login-button" href="/login"> Login </a>
  <% else %>
    <a href="/logout"> Logout </a>
  <% end %>
  || <a href="/welcome"> My themes </a> || <a href="/posts/new"> Add new Acknowledgment </a> || <a href="/posts/show">Show My Acknowledgments</a>
</div>
<br>


  <%= yield %>
</body>
</html>
