<h1>Login Here</h1>

<form action='/login' method='POST'>
  <label>Email</label>
    <input type="email" name="user[email]">
  <label>Password</label>
    <input type="password" name="user[password_digest]">
  <input type="submit">
</form>